<h1>welcome <%= @user.first_name %></h1>

<p>
  We are so happy to have you on yoopitch. Feel free to ask any questions, join the slack group to discuss with the community. 
</p>

<h3>Jean-Romain KRUPA, cofounder</h3>
