<% locales = { 
  #path: "pages.landing_workshops",
  colors: {
    #logo_color: "white",
    # primary_background: "goldish-300",
    # secondary_background: "white",
    # primary: "roman",
    # text: "clover-600",
    # title: "clover-700",
    # primary_button: "btn btn-primary",
    # hero_text: "hippie-500"
  },
  #hero_right_content: "entrepreneur_video"
} %>
  <div class="px-4 lg:px-8 max-w-7xl mx-auto">
    <%= render "shared/navbar", locales: locales %>
  </div>
<div class="container px-4 mx-auto my-16 lg:px-0">
  <div class="w-full m-auto lg:w-1/2">
    <div class="p-4 relative bg-white rounded-xl shadow lg:p-10">
      <div class="absolute transform rotate-90 -bottom-32 right-24 md:transform-none md:-top-16 md:-right-20" style="z-index:-1;">
        <%= render_svg "leaf_corner_right", styles:"w-full" %>
      </div>
      <%= yield :form_block %>
      <div class="absolute hidden md:block md:transform-none md:-bottom-10 md:-left-16" style="z-index:-1;">
        <%= render_svg "leaf_corner_left", styles:"w-full" %>
      </div>
    </div>
  </div>
</div>