<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3 text-white">Créer votre pitch</h1>
    </div>

    <div class="bg-gray-800 rounded shadow p-8">
      <%= render "form", project: @project, pitch: @pitch %>
    </div>
  </div>
</div>