<div class="hidden relative sm:block relative z-30 sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0  lg:flex md:items-center">
  <div class="relative mx-auto w-full z-22 rounded-lg">
    <%#= render_svg "mountain",styles:"w-full" %>
    <div class="rounded-xl shadow overflow-hidden">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/3xU050kMbHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="absolute transform md:block md:-top-16 md:-right-16" style="z-index:-1;transform:rotate(150deg);">
      <%= render_svg "leaf_video_corner_left", styles:"w-full" %>
    </div>
  </div>
</div>