 
<div class="bg-white pt-12">
  <div class="max-w-7xl mx-auto pt-4 ">
    <p class="text-center text-clover-700 text-xl font-bold">
      <span class="my-8"><%= t(".press-logos.title") %></span>
    </p>
    <div class="logos logos--fill mt-12">
      <% t(".press-logos.logos-images").each do |logo_path| %>
        <%= image_tag logo_path, class:"logos__logo" %>
      <% end %>
    </div>
  </div>
</div>
