<nav class="flex flex-wrap items-center justify-between px-8 lg:px-32 py-4 bg-transparent text-sm" data-controller="toggle">
  <div class="flex items-center flex-shrink-0 mr-6">
      <%= link_to root_path, class:"flex items-center" do %>
      <span class="h4 ml-4 mt-1 text-white">digital<span class="text-white">jungle</span></span> 
      <% end %>
  </div>
  <div>
    <p class="text-white font-normal">Un peu d'aide ?</p>
  </div>
</nav>
