<div class="bg-gray-900 my-8 py-8 rounded max-w-2xl m-auto text-center flex flex-col items-center justify-center">

  <h1 class="mb-2 text-white">Bienvenu <%= current_user.first_name %>!</h1>

  <p class="mb-6 text-gray-400 leading-normal text-xl">Regarde ce tutoriel de l'espace</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/17XZGUX_9iM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="mt-12">
    <p class="mb-6 text-gray-200 leading-normal"> Que veux tu faire maintenant ?</p>
    <div class="flex  items-center justify-center text-center">
      <%= link_to "Voir les pitchs des autres", projects_path, class: 'btn btn-primary' %>
      <%= link_to "Créer mon projet", new_entrepreneur_project_path, class: 'btn btn-primary ml-8' %>
    </div>
  </div>
</div>