<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3 text-white">Modifier <em class="text-aquamarine-500"><%= @project.name %></em></h1>
      <%= link_to t("cancel"), @project, class: "btn btn-link" %>
    </div>

    <div class="bg-gray-800 rounded shadow p-8">
      <%= render "form", project: @project %>
    </div>
  </div>
</div>