<div class="h-screen relative text-clover-700 text-center mx-auto" data-controller="swiper">
  <div class="swiper-container max-w-5xl">
    <!-- Additional required wrapper -->
    <div class="my-8">
      <h2 class="h3 text-xl">Pitch of the month</h2>
    </div>
    <div class="swiper-wrapper mb-12">
      <!-- Slides -->
      <% @projects.each do |project| %>
        <div class="swiper-slide">
          <%= render "shared/video_card", project: project %>
        </div>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <%# <div class="swiper-pagination pt-4 border-none shadow-none"></div> %>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev bg-roman-500"></div>
    <div class="swiper-button-next bg-roman-500 p-2"></div>

    <!-- If we need scrollbar -->
  </div>
</div>
