<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
    </div>

    <div class="bg-gray-800 text-white rounded shadow p-8">

      <h1 class="h3 "><%= @project.name %></h1>
      <p><%= @project.description %></p>
    </div>
  </div>
</div>